<!DOCTYPE html>
<html>
<head>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/phonegap.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
 
  </head>

	 <body style="background-color:#EBEBEB">

  <!-- **************     First Page      **************-->
    <div class="container center" style="margin-top: 160px;">
      <div class="row" style="text-align: center;">
      <h2 style="color:#E6150F;">Heimstaden</h2>
      </div>
       <br/>
		  <div class="row">
        <form role="form">
          <div class="form-group">
            <input type="text" class="form-control border" id="email" placeholder="Användare">
          </div>
          
          <div class="form-group">
            <input type="password" class="form-control border" id="pwd" placeholder="Lösenord">
          </div>
        <button  style="background-color: #E6150F; color:white; border-style: solid;
    border-width: 1px;" type="submit" class="btn btn-block border"><a href="second.html" style="color:white;">Logga in!</a></button>
    </form>
    <br/>
    <p style="text-align: right;"><u><a href="#">Glömt lösenord?</a></u></p>
      </div>

    </div>


    <!--          ==================== JavaScript Code ===================          -->
  <script src="../js/bootstrap.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
</body>
</html>