<!DOCTYPE html>
<html>
<head>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/phonegap.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
 
  </head>

	<body style="background-color:#EBEBEB">
	<header>
		<div class="container-fluid" style="">
			<div class="row" >
				<ul class="list-group list-inline" style="background-color: #E6150F; color:white; border-style: solid; border-width: 2px;  border-color: black; padding:20px;">
				    <li><a href="second.html" style="color:white;">Hem </a></li> |
				    <li><a href="page3.html" style="color:white;">Boka </a> </li> | 
				    <li><a href="#" style="color:white;">Logga ut </a></li>
				</ul>
			</div>
		</div>
	</header>
	<!--          ==================== End of Header Part ===================          -->
	

	<div class="container center">
	<!--          ==================== COntainer Part ===================          -->
		<br/>
		<div class="row col-xs-12" style="text-align: center;">
			<h2 style="color:#E6150F;">Boka</h2>
			<br/>
			<p>Vad vill du boka?</p>
		</div>

		<div class="row col-xs-12" style="margin-top: 50px;">
			<button  style="background-color: #E6150F; color:white; border-style: solid; border-width: 1px;" type="button" class="btn btn-block border"><a href="page4.html" style="color:white;">Tvättstuga</a></button>
			<br/>
			<button  style="background-color: #629C44; color:white; border-style: solid; border-width: 1px;" type="button" class="btn btn-block border">Pingisbord</button>
		</div>
	</div>


	<!--          ==================== JavaScript Code ===================          -->
  		<script src="../js/bootstrap.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  		<script src="../js/bootstrap.min.js"></script>
</body>
</html>