<!DOCTYPE html>
<html>
<head>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/phonegap.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
 
  </head>

	<body style="background-color:#EBEBEB">
	<!--          ==================== Header Part ===================          -->
	<header>
		<div class="container-fluid">
			<div class="row" >
				<ul class="list-group list-inline" style="background-color: #E6150F; color:white; border-style: solid; border-width: 2px;  border-color: black; padding:20px;">
				    <li><a href="second.html" style="color:white;">Hem </a></li> |
				    <li><a href="page3.html" style="color:white;">Boka </a> </li> | 
				    <li><a href="#" style="color:white;">Logga ut </a></li>
				</ul>
			</div>
		</div>
	</header>
	<!--          ==================== End of Header Part ===================          -->
	<div class="container">
	<!--          ==================== COntainer Part ===================          -->
			<br/>
			<div class="row" style="text-align: center;">
			<h2 style="color:#E6150F;">Nyheter</h2>
			</div>
			<br/>
			<br/>
			<div class="row col-xs-12">
				<p>
				<h3>Nu släpper vi appen!</h3>
				2015-02-27
				</p>
				<p> Nu släpper vi forsta versionen av den har appen, den ar jattenra, snygg och funktionell.</p>
				<p style="text-align: right;"><u><a href="#">Läs mer </a></u></p>
				<br/>
				<br/>
				<p>
				<h3>Johan, skriver historia</h3>
				2015-02-27
				</p>
			</div>
	</div>


	<!--          ==================== JavaScript Code ===================          -->
  		<script src="../js/bootstrap.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  		<script src="../js/bootstrap.min.js"></script>
</body>
</html>